<h3>City Rides Booking</h3>
<form>
  <label>Pickup Location</label>
  <input type="text" placeholder="Enter Pickup Location" />

  <label>Drop Location</label>
  <input type="text" placeholder="Enter Drop Location" />

  <label>Pick-Up Date</label>
  <input type="date" />

  <label>Pick-Up Time</label>
  <input type="time" />
   <select name="" id="">
    <option value="">AM</option>
    <option value="">PM</option>
  </select>

  <label>Contact Number</label>
  <input type="text" placeholder="Contact Number" />

  <div class="form-action">
    <button type="submit">Send Enquiry</button>
  </div>
</form>
