

<div class="cards">
<div class="card">
    <h1>Our Promise:</h1>
    <ul>
        <li>On-time pickup</li>
        <li>24/7 customer support</li>
        <li>Trusted by lakhs of happy customers</li>
        <li>Well-Trained, Verified Drivers</li>
        <li>Clean & Sanitized Vehicles </li>
        <li>Transparent & Competitive Pricing </li>
        <li>Wide Range of Vehicles </li>
        <li>Commitment to Customer Satisfaction</li>
    </ul>
</div>
<div class="card">
    <h1>Our Vision:</h1>
    <p>
        To become the most trusted travel brand in South India, known for reliability, safety, and customer-first service.
    </p>
</div>
<div class="card">
    <h1>Our Mission:</h1>
    <ul>
        <li>To offer seamless travel experiences at competitive prices</li>
        <li>To maintain high safety and hygiene standards</li>
        <li>To constantly improve with customer feedback</li>
        <li>To promote tourism across South India</li>
    </ul>
</div>
</div>