<h3>Outstation Cab Booking</h3>

<form (ngSubmit)="submitForm()" #form="ngForm">
  <label>Pickup Address</label>
  <input type="text" placeholder="Enter Your Pickup City" name="pickupCity" [(ngModel)]="pickupCity" required />

  <label>Destination Address</label>
  <input type="text" placeholder="Enter Your Drop City" name="dropCity" [(ngModel)]="dropCity" required />

  <label>Pick-Up Date</label>
  <input type="date" name="pickupDate" [(ngModel)]="pickupDate" required />

  <label>Pick-Up Time</label>
  <input type="time" name="pickupTime" [(ngModel)]="pickupTime" required />

  <label>AM/PM</label>
  <select name="ampm" [(ngModel)]="ampm" required>
    <option value="">Select</option>
    <option value="AM">AM</option>
    <option value="PM">PM</option>
  </select>

  <label>Select Vehicle</label>
  <select name="vehicle" [(ngModel)]="vehicle" >
   <option value="">Select</option>
    <option value="Sedan – Toyota Etios">Sedan – Toyota Etios</option>
    <option value="Prime Sedan - Maruti Ciaz">Prime Sedan - Maruti Ciaz</option>
    <option value="MUV – Maruti Ertiga">MUV – Maruti Ertiga</option>
    <option value="SUV – Toyota Innova Crysta">SUV – Toyota Innova Crysta</option>
    <option value="Prime Suv - Toyota Hycross">Prime Suv - Toyota Hycross</option>
    <option value="Prime Suv - Toyota Fortuner">Prime Suv - Toyota Fortuner</option>
    <option value="Tempo Traveller">Tempo Traveller</option>
    <option value="Luxury Urbania">Luxury Urbania</option>
    <option value="Luxury Coaches">Luxury Coaches</option>
  </select>

  <label>Contact Number</label>
  <input type="text" placeholder="Contact Number" name="contact" [(ngModel)]="contact" required />

  <div class="return-toggle">
    <label>Return Trip</label>
    <button type="button" (click)="isReturnTrip = !isReturnTrip">
      {{ isReturnTrip ? 'X' : 'Return' }}
    </button>
  </div>

  <div *ngIf="isReturnTrip">
    <label>Return Date</label>
    <input type="date" name="returnDate" [(ngModel)]="returnDate" />
  </div>

  <div class="form-action">
    <button type="submit" [disabled]="!form.valid">Send Enquiry</button>
  </div>
</form>
